.load__more {
    display: block;
    height: 30px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #76c9fd;
    cursor: pointer;

    &:hover {
        background-color: lightskyblue;
    }
}
.is-hidden {
    display: none;
}