// Scroll to top button

.up__btn {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: 2px solid white;
  border-radius: 50%;
  outline: none;
  background-color: #1e90ff;
  padding: 12px;
  transform: scale(1);
  //box-shadow:0 0 15px rgba(255,255,255,.4);
  outline: 1px solid #1e90ff;
  transition: transform .25s cubic-bezier(.075,.82,.165,1);
}

.up__btn:hover {
  transform: scale(1.1);
}
.up__img {
  fill: currentColor;
  width: 24px;
  height: 24px;;
}

